/* ---------------Base Styles----------- */
*{
    font-family:'Roboto';
}
body{
    text-align: center;
    margin:0px;
    padding:0px;
    background: #f6e9cd;

}
section{
    margin:0 auto;
    padding-bottom: 3em;
    
}
h1{
    color:#e48c62;
}
p{
    font-family: 'Open Sans';
    font-size: 14px;
}
a{
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color:#2572aa;
}
a:hover{
    color:#e48c62;
}

ul{
    text-decoration: none;
    list-style-type: none;
    padding-left:0;
}
footer{
    border-top:2px solid silver;
    padding:0px 10px 0 10px;
    
}
/*----------------Class Styles -------------*/
.nav-wrapper{
    margin-top:0px;
    margin-bottom:4em;
    padding-top:1.5em;
    padding-bottom:1.5em;
    background:#e7c67e;
}
.nav-bar li{
    margin-bottom: 2em;
}
.bot-nav{
    display:none;
}
.profile-img{
    max-width: 250px;
    
}
.port-img{
    max-width: 95%;
}
.card{
    max-width: 350px;
    margin:0 auto 3em;
}
.intro, .contact{
    margin:0 auto;
}
.intro{
    
    margin-top: 1em;
}
.name{
    float:left;
    
}
.top{
    float:right;
}
.padding{
    padding:0 15px 0 15px;
}
/*-----------Media Query 768px-------------*/
@media(min-width:768px){
body{
    padding:0px;
}
.nav-bar li{
    display: inline-block;
    padding:0 2em 0 2em;
    border-right: 2px solid silver;
}
ul li:last-child{
    border-right: 0;
    padding-right:0;
}
p{
    
    font-size: 18px;
}    
/* ---------------Class Styles--------------*/
.nav-wrapper{
    width: 100%;
    margin-bottom: 0;
    
}  

.intro p{
    float:left;
    max-width:55%;
    text-align: left;
}    
.profile-img{
    float:right;
    
}
.gallery {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.top{
    display: none;
}
.bot-nav{
    display: block;
    float:right;
    padding-top:.5em;
}
.contact{
    max-width: 500px;
}
.padding{
    padding:0px;
}
.skills{
    text-align: left;
    max-width: 600px;
}
.skills h2{
    text-align: center;
}
.name{
    padding-top:1em;
}
.bot-nav{
    padding-top: 1em;
}
.padding{
    padding:15px;
}
/*-------------------------Clear Fix--------------------*/
.clear-fix{
    clear:both;
    content: "";
    display:table;
}
}
/*----------------------Media Query 1024px------------------*/
@media(min-width:1024px){
p{
    font-size: 20px;
}
.nav-wrapper{
    padding-bottom:0;
}
.nav-wrapper h1{
    float:left;
    padding-left: 20px;

    
}
.nav-wrapper ul{
    float:right;
    padding-right:20px;
    
}
.intro{
    padding:0 15px 0 15px;
    margin-bottom: 5em;
    
}

.profile-img{
    max-width: 150%;
}
.gallery{
    margin-top:3em;
}
.card{
    max-width: 300px;
}
.contact{
    max-width: 800px;
}
.skills{
    text-align: left;
    max-width: 750px;
}

}
